<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aylos.Xrm.Sdk.CrmSvcUtilExtensions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aylos.Xrm.Sdk.CrmSvcUtilExtensions.Properties.Settings>
            <setting name="ActivityLogicalNames" serializeAs="String">
                <value>appointment,bulkoperation,campaignactivity,campaignresponse,email,fax,incidentresolution,letter,opportunityclose,orderclose,phonecall,quoteclose,recurringappointmentmaster,serviceappointment,socialactivity,task,untrackedemail
appointment,bulkoperation,campaignactivity,campaignresponse,email,fax,incidentresolution,letter,opportunityclose,orderclose,phonecall,quoteclose,recurringappointmentmaster,serviceappointment,socialactivity,task,untrackedemail
</value>
            </setting>
            <setting name="EntityBlackList" serializeAs="String">
                <value>knowledgearticleincident,knowledgearticleviews,languagelocale,officedocument,personaldocumenttemplate,rollupjob,socialinsightsconfiguration</value>
            </setting>
            <setting name="EntityWhiteListFilename" serializeAs="String">
                <value>Entities.xml</value>
            </setting>
            <setting name="FieldStructName" serializeAs="String">
                <value>Fields</value>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value>CrmServiceContext.cs</value>
            </setting>
            <setting name="GenerateAllEntities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateFieldStructures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateOnlyReferencedGlobalOptionSets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateSeparateFilesPerType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateSettersFor" serializeAs="String">
                <value>createdby,modifiedby,createdon,modifiedon,saskey</value>
            </setting>
            <setting name="GlobalFieldBlackList" serializeAs="String">
                <value>createdonbehalfby,importsequencenumber,modifiedonbehalfby,overriddencreatedon,timezoneruleversionnumber,utcconversiontimezonecode,versionnumber,entitylogicalname,entitytypecode</value>
            </setting>
            <setting name="GlobalOptionSetPrefix" serializeAs="String">
                <value>Global</value>
            </setting>
            <setting name="MetadataMaxCharacterCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>..\Domain</value>
            </setting>
            <setting name="PrimaryKeySuffix" serializeAs="String">
                <value>Id</value>
            </setting>
            <setting name="RegexAllowedCharacters" serializeAs="String">
                <value>[^a-zA-Z0-9\s]</value>
            </setting>
            <setting name="ReplaceDigits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StateCodeSuffix" serializeAs="String">
                <value>State</value>
            </setting>
            <setting name="StatusReasonSuffix" serializeAs="String">
                <value>StatusReason</value>
            </setting>
        </Aylos.Xrm.Sdk.CrmSvcUtilExtensions.Properties.Settings>
    </applicationSettings>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>
