<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-np-uks-aylos-webhook-dev-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7b4a5ee1-e417-423d-878f-ecb3d1cca591/resourceGroups/RG-NP-UKS-AYLOS-INT-DEV-01/providers/Microsoft.Web/sites/func-np-uks-aylos-webhook-dev-01</ResourceId>
    <UserName>$func-np-uks-aylos-webhook-dev-01</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-np-uks-aylos-webhook-dev-01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>