<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" globalThreshold="Trace">
	<targets>
		<target name="consoleTarget" xsi:type="Console" layout="${level:uppercase=true} : ${message}" />
		<target name="fileTarget" xsi:type="File" fileName=".\Logs\${date:format=yyyyMMdd}\${machinename}.${date:format=yyyyMMdd-HH}.log" layout="${longdate} - ${level:uppercase=true} - ${threadid} - ${callsite} : ${message}" />
	</targets>
	<rules>
		<logger name="*" level="Trace" writeTo="fileTarget" />
		<logger name="*" level="Debug" writeTo="fileTarget" />
		<logger name="*" level="Info" writeTo="fileTarget,consoleTarget" />
		<logger name="*" level="Warn" writeTo="fileTarget,consoleTarget" />
		<logger name="*" level="Error" writeTo="fileTarget,consoleTarget" />
		<logger name="*" level="Fatal" writeTo="fileTarget,consoleTarget" />
	</rules>
</nlog>